# Make sure you set these variables!

FASTLY_API_KEY: "lala"
FASTLY_SERVICE_ID: "lala"
SECRET_KEY_BASE: "lala"
SITE_URL: "google.com"
TWITTER_CONSUMER_KEY: "lala"
TWITTER_CONSUMER_SECRET: "lala"
TWITTER_OAUTH_TOKEN: "lala"
TWITTER_OAUTH_TOKEN_SECRET: "lala"
